@import 'https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap';
/* Reset nas configuração padrão */
*
  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html
  {
    font-size: 12px;
    font-family: 'Play', sans-serif;
    scroll-behavior: smooth;
  }
body
{
  background-color: #D7D7D7;
}

a
  {
    text-decoration: none;
  }

.container
  {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }